body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

h1 {
    font-family: Iowan Old Style, sans-serif;
    color: #f3eddc;
}

h3 {
    font-family: Iowan Old Style, sans-serif;
    color: #ffffff;
    font-size: 100px;
}


p1{
    font-family: Iowan Old Style, sans-serif;
    color: #f3eddc;
}



/* Navigation */
.navbar {
    background-color: #000000;
    padding: 15px 20px;
}

.nav-link {
    color: #f3eddc !important;
    font-weight: 400;
    padding: 10px 15px !important;
    font-size: 0.95rem;
}

.nav-link:hover {
    color: #A93B84 !important;
}

.jumbotron {
    background-image: url('../images/Theathre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    align-items: center;
    padding: 60px;
    position: relative;
 }


.btn-primary {
    background-color: #A93B84;
    font-family: sans-serif;
    border: none;  
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #8a2f6a; 
    border: none;  
}

/* About Section */
.about-section {
    padding: 40px 20px;
}

.about-text {
    font-family: Inter, sans-serif;
    font-size: 25px;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 30px;
}

.btn-about{
    background-color: #A93B84;
    color: #ffffff;
    font-family: sans-serif;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}

.btn-about:hover{
    background-color: #8a2f6a;
    color: #ffffff;
    border: none;
}

//* Card Section */
.card-custom {
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 8px solid #000000;  /* Add thick black border */
}

/* Title at top of card */
.card-title-top {
    font-family: Inter, sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding: 30px 20px 20px 20px;
    margin: 0;
    color: #000000;
    text-align: center;
}

.card-donate {
    background-color: #ffffff;  
    border-radius: 30px;
}

.card-submit {
    background-color: #DD7B34;  
    border-radius: 30px;
}

.card-sponsor {
    background-color: #D5A9C5;
    border-radius: 30px;
}

.card-donate .card-img {
    height: 400px;
     padding: 10px 10px 10px 10px;
}

.card-submit .card-img {
    height: 400px;
    padding: 10px 10px 10px 10px;
}

.card-sponsor .card-img {
    height: 400px;
    padding: 10px 10px 10px 10px;
}

.card-body-custom {
    padding: 35px 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.btn-card {
    border: none;
    color: white;
    font-size: 20px;
    font-weight: normal;
    padding: 15px 50px;
    border-radius: 25px;
    align-self: center;
}

.btn-donate,
.btn-submit,
.btn-sponsor {
    background-color: #D38DA3;  /* All buttons same mauve/purple color */
}

.btn-donate:hover,
.btn-submit:hover,
.btn-sponsor:hover {
    background-color: #8a2f6a;
    color: #ffffff;
    border: none;
}

/* Sophia Award Section */
.sophia-title {
    font-family: Inter, sans-serif;
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #ffffff;
}

.sophia-description {
    font-size: 25px;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 30px;
}

.btn-sophia {
     background-color: #A93B84;
    color: #ffffff;
    font-family: sans-serif;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}

.btn-sophia:hover{
     background-color: #8a2f6a;
    color: #ffffff;
    border: none;
}

.navbar1{
    background-color: #F9E8F3;
    padding: 25px 0px;
}

.nav-link1 {
    font-family: Iowan Old Style, sans-serif;
    color: #000000 !important;
    font-weight: 400;
    padding: 25px 25px !important;
    text-decoration: none;
}

.nav-link1:hover {
    color: #A93B84 !important;
}


/* Footer Section */
.footer-section {
    background-color: #A93B84;  
    color: #000000;
    padding: 0;
    margin: 0;
}

.footer-section .container-fluid{
    padding-left: 50px;
    padding-right: 50px;
}

.footer-logo {
    width: 375px;
    margin-bottom: 0;
}

.footer-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}

.footer-subtitle {
    font-size: 17px;
    margin-bottom: 20px;
    color: #000000;
}

/* Center Newsletter Form */
.newsletter-form-center {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.newsletter-input-center {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
}


.btn-newsletter-center {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    padding: 12px 50px;
    border-radius: 30px;
    border: none;
}

.btn-newsletter-center:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Footer Address */
.footer-address {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
    text-align: center; 
}

.social-icons-right {
    display: flex;
    gap: 15px;
    justify-content: center;  
}

.social-icon {
    width: 45px;  
    height: 45px;
}

/*Footer*/

.footer-bottom {
    background-color: #000000;
    padding: 60px 0;
    margin: 0;
}

.footer-text {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-text p {
    margin: 0;
    font-size: 1rem;
}